a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .cart-item [data-icon-label]:after {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .searchform {
  border-radius: 5px;
}

header .searchform input {
  border: none;
  background-color: #f6f6f6;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 40px;
}

header .form-flat input {
  border-radius: 6px !important;
}

header .woocommerce-MyAccount-navigation-link a {
  font-weight: 600;
  color: #000 !important;
}

.header-phone a, .header-login a {
  font-weight: 600;
  color: #fff;
  font-size: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  height: 100%;
}

.header-phone a:hover, .header-login a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.header-phone p, .header-login p {
  margin-bottom: 10px !important;
  line-height: 1;
}

.header-phone .lnr, .header-phone svg, .header-login .lnr, .header-login svg {
  font-size: 20px;
  margin-right: 10px;
}

.header-login a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

header .top-divider {
  display: none;
}

#woocommerce-product-search-field-0 {
  background: #fff;
  font-weight: 600;
  color: #000 !important;
}

#mega-menu-wrap {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

#mega-menu-wrap #mega-menu-title {
  color: #000;
}

.account-item.has-icon.has-dropdown {
  background: #fff;
  border-radius: 4px;
}

.account-item.has-icon.has-dropdown .header-button a {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 5px 16px;
}

.account-item.has-icon.has-dropdown .header-button a:hover {
  background-color: #fff !important;
}

.account-item.has-icon.has-dropdown span, .account-item.has-icon.has-dropdown .icon-user {
  color: #000;
}

.normal-title {
  border: none !important;
}

.absolute-footer {
  display: none;
}

.footer-widgets * {
  color: #555 !important;
}

.footer-widgets .col-inner ul li {
  margin: 0px;
}

.footer-title {
  font-weight: 700;
  display: block;
  margin-bottom: 15px;
  color: #555 !important;
}

.single .blog-share, .single .entry-meta, .single .entry-author, .single .navigation-post {
  display: none;
}

.header-post-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-post-customLeft, .header-post-customRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preinfo-section {
  padding: 60px 30px 40px;
  margin-top: -30px;
}

.dev-header-post .user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.dev-header-post .post-author, .dev-header-post .breadscrumb {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dev-header-post .breadscrumb {
  margin-bottom: 10px;
}

.dev-header-post .breadscrumb a {
  background: none;
  color: #000;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}

.dev-header-post .breadscrumb a:hover {
  background: none;
  color: #000;
}

.dev-header-post .breadscrumb a:last-child {
  font-weight: normal;
}

.dev-header-post .breadscrumb span.lnr {
  font-size: 10px;
  padding: 0px 10px;
}

.dev-header-post .post-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.dev-header-post .tag {
  padding-top: 30px;
}

.dev-header-post .post-bannerImg img {
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.dev-header-post + .row {
  padding-top: 60px;
}

.post-comments-master input:not([type=checkbox]) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
  max-width: calc(50% -15px);
  margin: 15px 15px 15px 0px;
}

.post-comments-master .comment-form {
  padding: 0px 15px !important;
}

.post-comments-master .comment-form p {
  padding: 0px;
}

.post-comments-master .comment-form-comment textarea, .post-comments-master input[type="text"], .post-comments-master input[type="email"] {
  background-color: #f5f5f5;
}

.comments-wrapper .col {
  padding: 0px 10px 10px;
}

.navigation {
  width: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: unset;
  color: #000;
}

.navigation .page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  color: #000;
  margin-right: 10px;
}

.navigation .page-numbers.current {
  background-color: #ed1c24;
  color: #fff;
}

.post-comments-master .comments-rating {
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-comments-master form input.submit {
  padding: 6px 12px;
  min-width: 100px;
  font-size: 10px;
  margin: 0px;
}

.commentlist {
  width: 80%;
}

.commentlist p {
  margin-bottom: 0px;
}

.commentlist .comment-reply-title {
  font-size: 16px;
}

.commentlist .comment-reply-title small {
  margin-left: 10px;
}

.commentlist .tick {
  padding-left: 5px;
  font-weight: 600;
}

.commentlist .qtv {
  font-size: 11px;
  background-color: #2ba832;
  padding: 0px 2px;
  color: #fff;
  border-radius: 2px;
}

.commentlist .children {
  padding: 10px;
  background: #eee;
  position: relative;
  border: 1px solid #eee;
  border-radius: 4px;
}

.commentlist .children:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 12px 12px 12px;
  top: -12px;
  border-color: transparent transparent #eee transparent !important;
}

.commentlist .comment-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commentlist .comment-author img {
  border-radius: 50%;
}

.commentlist .comment-author .tick-icon {
  color: #2ba832;
  margin-left: 10px;
}

.commentlist .reply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commentlist .reply .reply-date {
  padding-left: 10px;
}

.commentlist .reply .reply-date a {
  color: #999;
  font-size: 13px;
}

.commentlist .reply .reply-text a {
  color: #288ad9;
  font-size: 13px;
}

.commentlist .comment-content {
  padding: 10px 10px 10px 0px;
}

.dashicons-star-filled {
  color: orange;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.sort .comment-left {
  border-right: 1px solid #eee;
}

.sort .comment-right {
  padding: 20px;
}

.sort .comment-right .flex {
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort .comment-right .star {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort .comment-right .star .dashicons-star-filled {
  color: #ed1c24;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.sort .comment-right .vote-sub-title {
  font-size: 13px;
  width: 70px;
}

.sort .vote-title {
  font-size: 22px;
  font-weight: 600;
}

.bar-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f1f1f1;
  position: relative;
  height: 10px;
  border-radius: 10px;
}

.bar-container .bar {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #ed1c24;
  border-radius: 10px;
}

.vote-star {
  color: #ed1c24;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-rating label {
  display: inline-block;
}

.rating-container > input {
  display: none !important;
}

.rating-container > input + label {
  /* only enough room for the star */
  font-family: "dashicons";
  display: inline-block !important;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
}

.rating-container > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "\f154";
  color: #888;
}

.rating-container > input:checked ~ label:before,
.rating-container > input + label:hover ~ label:before,
.rating-container > input + label:hover:before {
  content: "\f155";
  color: orange;
  text-shadow: 0 0 1px #333;
}

.rating-container > .star-cb-clear + label {
  text-indent: -9999px;
  width: 0.5em;
  margin-left: -0.5em;
}

.rating-container > .star-cb-clear + label:before {
  width: 0.5em;
}

.rating-container:hover > input + label:before {
  content: "\f154";
  color: #888;
  text-shadow: none;
}

.rating-container:hover > input + label:hover ~ label:before,
.rating-container:hover > input + label:hover:before {
  content: "\f155";
  color: orange;
  text-shadow: 0 0 1px #333;
}

.logged-in-as {
  display: block;
}

.rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating-wrapper > label {
  padding-right: 10px;
}

.post-comments-master {
  width: 100%;
}

.post-comments-master .rating-wrapper {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0px;
}

.review-wrapper.comment-product-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 0px 0px 40px;
}

.review-wrapper.comment-product-style .reivew-comment {
  max-width: 400px;
}

.review-wrapper.comment-product-style .comments-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.woocommerce-MyAccount-navigation-link img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.woocommerce-account #main {
  background-color: #f1f2f2;
}

.woocommerce-account .vertical-tabs .col-border {
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
}

.woocommerce-account .vertical-tabs .col-border .nav-vertical.nav-line > li > a:before {
  background-image: linear-gradient(120deg, #00bfae 0, #0066ad 100%);
}

.woocommerce-account .woocommerce-MyAccount-orders, .woocommerce-account .woocommerce-EditAccountForm, .woocommerce-account .woocommerce-Addresses, .woocommerce-account .woocommerce-address-fields, .woocommerce-account .woocommerce-order-details, .woocommerce-account .woocommerce-customer-details {
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  padding: 15px;
  margin-bottom: 15px;
}

.woocommerce-account .woocommerce-MyAccount-orders a.woocommerce-button.view, .woocommerce-account .woocommerce-MyAccount-orders button[type="submit"], .woocommerce-account .woocommerce-EditAccountForm a.woocommerce-button.view, .woocommerce-account .woocommerce-EditAccountForm button[type="submit"], .woocommerce-account .woocommerce-Addresses a.woocommerce-button.view, .woocommerce-account .woocommerce-Addresses button[type="submit"], .woocommerce-account .woocommerce-address-fields a.woocommerce-button.view, .woocommerce-account .woocommerce-address-fields button[type="submit"], .woocommerce-account .woocommerce-order-details a.woocommerce-button.view, .woocommerce-account .woocommerce-order-details button[type="submit"], .woocommerce-account .woocommerce-customer-details a.woocommerce-button.view, .woocommerce-account .woocommerce-customer-details button[type="submit"] {
  background-image: linear-gradient(120deg, #00bfae 0, #0066ad 100%);
  border-radius: 6px;
  text-transform: none;
  border: none;
}

.woocommerce-account .account-user {
  padding: 15px 0px;
}

.woocommerce-account .account-user img {
  width: 40px;
  height: 40px;
}

.woocommerce-account .account-user .user-name {
  font-weight: 600;
  text-transform: uppercase;
}

.woocommerce-account #my-account-nav img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.woocommerce-account #my-account-nav a {
  text-transform: none;
  color: #000;
}

.woocommerce-account .dashboard-links li {
  width: calc(25%);
}

.woocommerce-account .dashboard-links .account-img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.woocommerce-account .dashboard-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  background-color: #fff;
  border-radius: 16px;
  min-height: 160px;
  border: none;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.woocommerce-account .dashboard-links a:hover {
  background-color: #fff;
  color: #000;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.woocommerce-account .my-account-header.featured-title .page-title-inner {
  min-height: 200px;
}

.woocommerce-account .my-account-header.featured-title .fill {
  background: rgba(0, 0, 0, 0.15);
}

.woocommerce-account .woocommerce-Button {
  background-image: linear-gradient(120deg, #00bfae 0, #0066ad 100%);
  text-transform: none;
  color: #fff;
  border-radius: 8px;
  font-size: 13px;
  padding: 6px 18px;
  border: none;
}

.front-status {
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
}

.front-status-on-hold {
  background-color: #ffdba7;
  color: #FFA41D;
}

.front-status-success {
  background-color: #e7fbe6;
  color: #68e365;
}

.front-status-processing {
  background: #c6e1c6;
  color: #5b841b;
}

.front-status-cancel {
  background-color: #fee6ea;
  color: #f72b50;
}

.flex-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce-mini-cart__buttons.buttons a, .wc-proceed-to-checkout a, .return-to-shop a {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF512F), color-stop(51%, #DD2476), to(#ed1c24)) !important;
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #ed1c24 100%) !important;
  text-transform: none;
  border-radius: 6px;
}

.place-order button[type="submit"], .actions button[type="submit"] {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF512F), color-stop(51%, #DD2476), to(#ed1c24)) !important;
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #ed1c24 100%) !important;
  text-transform: none;
  border-radius: 6px;
}

.nav-dropdown-has-border .nav-dropdown {
  border-radius: 6px;
  border: none !important;
}

.woocommerce-form-track-order {
  max-width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.woocommerce-form-track-order p.form-row-first {
  margin-right: 0px;
}

.woocommerce-form-track-order p.form-row-first, .woocommerce-form-track-order p.form-row-last {
  width: 100%;
}

.woocommerce-form-track-order button[type="submit"] {
  background-image: linear-gradient(120deg, #00bfae 0, #0066ad 100%);
  border-radius: 6px;
  text-transform: none;
  border: none;
}

.woocommerce-order-details {
  max-width: 600px;
  margin: auto;
}

.woocommerce-order-details .shop_table thead th, .woocommerce-order-details .shop_table .order-total td, .woocommerce-order-details .shop_table .order-total th {
  border-width: 1px;
}

.order-info {
  text-align: center;
}

.style-button2 {
  color: #555 !important;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #f0f0f0;
  padding: 10px 20px;
  display: inline-block;
  -webkit-transition: all 0.3s  ease;
  transition: all 0.3s  ease;
  font-size: 14px;
}

.woocommerce-message, .woocommerce-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce-error {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-discount {
  background-color: #e7fbe6 !important;
  color: #68e365;
}

.cart-discount th, .cart-discount td {
  border: none;
}

.success-color-custom {
  background-color: #198754;
  border-color: #198754;
}

.error-color-custom {
  background-color: #bb2d3b;
  border-color: #b02a37;
}

.alert-custom {
  color: #fff;
  padding: 4px 10px !important;
  border-radius: 4px;
  margin-bottom: 10px;
}

.woocommerce-checkout #main, .woocommerce-cart #main {
  background-color: #F5F7FA;
}

.woocommerce-checkout .checkout-page-title, .woocommerce-cart .checkout-page-title {
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
}

.woocommerce-checkout .woo-checkout-order .col-inner, .woocommerce-checkout .woo-checkout-info {
  background: #fff;
  border-radius: 16px;
}

.woocommerce-checkout .has-border-custom {
  padding: 15px 30px;
}

.woocommerce-checkout .woocommerce-form-coupon-toggle {
  display: none;
}

.woocommerce-checkout .woocommerce-billing-fields {
  border: none;
}

.page-checkout {
  margin: 30px 0px;
}

.page-checkout a:not(.button) {
  color: #000;
}

.page-checkout a:not(.button):hover {
  color: #ed1c24;
}

.page-checkout .left-cart-page, .page-checkout .right-cart-page .cart-sidebar {
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
}

.page-checkout .left-cart-page form {
  padding-top: 15px;
}

.page-checkout .cart-sidebar {
  padding: 15px;
}

.page-checkout th, .page-checkout button[type="submit"] {
  text-transform: none;
}

.page-checkout button[type="submit"] {
  border-radius: 6px;
}

.page-checkout .shop_table thead th {
  border-width: 1px;
}

.page-checkout .remove.remove-cart {
  color: #000;
  border: none;
  font-size: 20px;
  font-size: 20px !important;
}

.page-checkout .remove.remove-cart:hover {
  color: #ed1c24;
}

.checkout-header-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.checkout-header-item.current img {
  width: 40px;
  height: 40px;
}

.checkout-header-item.current a {
  color: #000;
  font-weight: 600;
}

.checkout-header-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.checkout-header-item a {
  font-size: 18px;
  font-weight: 600 !important;
}

.woocommerce-order-received header, .woocommerce-order-received footer {
  display: none;
}

.woocommerce-order-received .thankyou-container {
  max-width: 800px;
  background: #fff;
  padding: 30px !important;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.woocommerce-order-received .thankyou-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce-order-received .thankyou-img img {
  max-width: 200px;
}

.woocommerce-order-received .woocommerce-thankyou-order-received {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.woocommerce-order-received .woocommerce-thankyou-order-received div {
  padding: 10px;
}

.woocommerce-order-received .woocommerce-thankyou-order-details {
  padding: 10px 30px;
  border-radius: 6px;
  background: #F5F7FA;
}

.woocommerce-order-received .woocommerce-thankyou-order-details .row {
  padding: 10px;
}

.woocommerce-order-received .woocommerce-thankyou-order-details .row .lnr {
  padding-right: 5px;
}

.woocommerce-order-received ul {
  list-style: none;
}

.woocommerce-order-received .woocommerce-bacs-bank-details, .woocommerce-order-received .woocommerce-order-details, .woocommerce-order-received .woocommerce-columns--addresses {
  border-radius: 6px;
  background: #F5F7FA;
  padding: 20px 15px 20px;
  margin-bottom: 15px;
}

.woocommerce-order-received .thankyou-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce-order-received .thankyou-footer .btn-thankyou {
  background-color: #198754;
  border-color: #198754;
  margin-right: 15px;
  color: #fff;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 6px;
}

.woocommerce-order-received .thankyou-footer .btn-thankyou:hover {
  color: #fff;
  opacity: 0.8;
}

.wc-bacs-bank-details-heading, .woocommerce-order-details__title, .woocommerce-columns--addresses .woocommerce-column__title {
  text-align: center;
  font-size: 18px;
}

.shop_table thead th {
  text-transform: unset !important;
}

#tt-quickView {
  position: fixed;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1000;
}

#tt-quickView .tt-quickview-wrap {
  background: #0D1C3F;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  position: relative;
}

#tt-quickView .vmore-item {
  margin-bottom: 10px;
  border-radius: 3px;
  background: #fff;
  width: 50px;
  height: 50px;
}

#tt-quickView .vmore-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.devcatProduct-list {
  margin-bottom: 50px;
}

.devcatProduct-list a {
  height: 300px;
  display: block;
}

.devcatProduct-list a img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.header-nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.header-nav-main #mega-menu-wrap {
  max-width: 200px;
}

.header-nav-main .sf-menu li {
  white-space: normal;
}

.home-devBanner {
  margin-top: 15px;
}

#header.header.has-sticky .header-wrapper.stuck #mega_menu {
  z-index: 3;
}

.ot-overplay.active-menu main#main:after {
  z-index: 2;
}

.home-vertical-menu {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  height: 100%;
  padding: 15px 0px;
  border-radius: 6px;
}

.home-vertical-menu #menu-ot {
  cursor: pointer;
}

.home-vertical-menu #menu-ot a {
  color: #000;
  font-weight: 500;
  font-size: 18px;
}

.home-vertical-menu #menu-ot .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 7px;
}

.home-vertical-menu #menu-ot button.toggle {
  -webkit-transform: rotate(-90deg) !important;
          transform: rotate(-90deg) !important;
}

.home-vertical-menu #menu-ot button.toggle i {
  font-size: 20px;
}

.home-vertical-menu #menu-ot .menu-item.active {
  position: relative;
}

.home-vertical-menu #menu-ot .menu-item.active .sub-menu {
  position: absolute;
  top: 0px;
  left: calc(100%);
  background-color: #fff;
  z-index: 999;
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  padding: 15px 0px;
}

.home-vertical-menu #menu-ot .menu-item.active .sub-menu li {
  padding: 0px 7px;
}

.home-vertical-menu #menu-ot a:hover {
  color: #ed1c24;
}

.right-banner .item {
  height: 120px;
  margin-bottom: 15px;
}

.right-banner .item .banner-text {
  position: absolute;
  font-weight: 600;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.right-banner .item a {
  border-radius: 6px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.right-banner .item a:hover {
  color: #ed1c24;
}

.right-banner .item a::before {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.4);
  content: "";
}

.right-banner .item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #ed1c24;
  border-radius: 6px;
}

.feature-home-section .feature-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-home-section .feature-container {
  padding: 20px 10px;
  border-radius: 6px;
}

.feature-home-section .feature-title {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  font-size: 25px;
  letter-spacing: 2px;
}

.feature-home-section .feature-tab .common-tab.active-tab {
  background-color: #D70018;
  color: #fff;
}

.feature-home-section .feature-tab .common-tab {
  padding: 4px 10px;
  border-radius: 10px;
  background: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: #444444;
  cursor: pointer;
  margin-right: 10px;
}

.footer-mb {
  display: none;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1000;
  -webkit-box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  height: 60px;
}

.footer-mb .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-mb .content .item {
  width: 25%;
}

.footer-mb .content .item a {
  font-size: 12px;
  font-weight: 600;
}

.footer-mb .content .item .lnr {
  font-size: 15px;
}

.category-mb {
  position: absolute;
  background-color: #fff;
  top: 70px;
  z-index: 999;
  width: 100%;
  height: calc(100% - 130px);
  left: -100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.category-mb-title {
  padding: 7px 0px;
  color: #555;
  font-weight: 500;
  margin-bottom: 0px;
}

.category-mb a {
  display: block;
}

.category-mb .box-item {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.category-mb .box-item img {
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
}

.category-mb .box-item:before {
  content: "";
  padding-top: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

.category-mb.active {
  display: block;
  visibility: visible;
  opacity: 1;
  left: 0;
  overflow-y: scroll;
}

body {
  position: relative;
}

body.no-scroll {
  overflow: hidden;
}

.feature-slide {
  padding-bottom: 30px;
}

body {
  color: #000 !important;
}

input[type=email], input[type=date], input[type=search], input[type=text], input[type=tel], input[type=url], input[type=password], textarea {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 10px 15px !important;
  border-radius: 5px !important;
}

input[type=email]:focus, input[type=date]:focus, input[type=search]:focus, input[type=text]:focus, input[type=tel]:focus, input[type=url]:focus, input[type=password]:focus, textarea:focus {
  border: 1px solid #ed1c24;
}

.page-template-tbl-login:not(.logged-in) .content-tab-common form {
  min-width: 500px;
  padding: 20px 20px 40px;
}

.page-template-tbl-login:not(.logged-in) .content-tab-common form button {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF512F), color-stop(51%, #DD2476), to(#ed1c24));
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #ed1c24 100%);
  border-radius: 8px;
  padding: 4px 8px;
  text-transform: none;
  width: 100%;
}

.page-template-tbl-login:not(.logged-in) .common-tab {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  cursor: pointer;
}

.page-template-tbl-login:not(.logged-in) .common-tab.active-tab {
  border-bottom: 2px solid #ed1c24;
}

.page-template-tbl-login:not(.logged-in) .login-section {
  padding: 100px 0px;
}

.page-template-tbl-login:not(.logged-in) .login-wrapper {
  max-width: 500px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 8px;
}

.page-template-tbl-login:not(.logged-in) .login-wrapper .login-tab .col {
  padding: 10px;
}

.page-template-tbl-login:not(.logged-in) .login-wrapper .loginTab h3.uppercase {
  display: none;
}

.page-template-tbl-login:not(.logged-in) #main {
  background-color: #ebedf4;
}

body .account-item {
  display: none !important;
}

body.logged-in .header-login {
  display: none !important;
}

body.logged-in .account-item {
  display: inline-block !important;
}

.home-devBanner .gallery-top a {
  width: 100%;
  height: 100%;
  display: block;
}

.home-devBanner .gallery-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-devBanner .gallery-top .swiper-slide {
  height: 310px;
}

.home-devBanner .gallery-thumbs {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.home-devBanner .gallery-thumbs .swiper-slide {
  cursor: pointer;
  position: relative;
}

.home-devBanner .gallery-thumbs .swiper-slide:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  content: "";
  background-color: #d8d8d8;
}

.home-devBanner .gallery-thumbs .banner-text {
  padding: 15px;
}

.home-devBanner .gallery-thumbs .swiper-slide.swiper-slide-thumb-active:after {
  background-color: #ed1c24;
}

.section-common {
  padding: 30px 0px;
}

h2.dev-title {
  font-size: 18px;
  padding-bottom: 10px;
}

.saleNews-swiper .swiper-slide, .devProduct-list .swiper-slide {
  height: auto;
}

.saleNews-swiper .swiper-slide .card, .devProduct-list .swiper-slide .card {
  height: 100%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
}

.saleNews-swiper .swiper-slide .card-wrapper, .devProduct-list .swiper-slide .card-wrapper {
  height: 100%;
}

.saleNews-swiper a, .devProduct-list a {
  color: #555;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.saleNews-swiper a:hover, .devProduct-list a:hover {
  color: #ed1c24;
}

.saleNews-swiper .cat-img img, .devProduct-list .cat-img img {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.saleNews-swiper .card-title, .devProduct-list .card-title {
  padding: 20px 15px;
}

.saleNews-swiper .card-title p, .devProduct-list .card-title p {
  margin-bottom: 10px;
}

.saleNews-swiper .card-title .title, .devProduct-list .card-title .title {
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
}

.saleNews-swiper .card-title .date, .devProduct-list .card-title .date {
  font-size: 14px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev, .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: none !important;
}

.swiper-button-next, .swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff !important;
  background-color: #ed1c24;
}

.post-item .col-inner {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 6px;
  overflow: hidden;
}

.post-item .col-inner:hover {
  -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

span.widget-title span, .widget-title.shop-sidebar {
  color: #555;
  text-transform: none;
}

#shop-sidebar a {
  font-weight: 500;
  color: #555;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#shop-sidebar a:hover {
  color: #ed1c24;
}

.widget.flatsome_recent_posts, .widget.widget_categories {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 6px;
}

.widget.flatsome_recent_posts a {
  color: #555;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.widget.flatsome_recent_posts a:hover {
  color: #ed1c24;
}

form input.submit {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF512F), color-stop(51%, #DD2476), to(#ed1c24)) !important;
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #ed1c24 100%) !important;
  border-radius: 8px;
  padding: 8px 16px;
  text-transform: none;
  min-width: 150px;
}

form .single_add_to_cart_button {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF512F), color-stop(51%, #DD2476), to(#ed1c24)) !important;
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #ed1c24 100%) !important;
  text-transform: none;
  border-radius: 8px;
  padding: 8px 16px;
}

.dev-title-product {
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0px;
}

.dev-box {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  padding: 20px 15px;
  border-radius: 6px;
}

.dev-tabTitle {
  font-size: 14px;
  text-transform: uppercase;
}

a.dev-tabCustom {
  color: #ed1c24 !important;
  background-color: rgba(237, 28, 36, 0.2);
  padding: 7px 15px;
  display: inline-block;
  margin: 5px 5px 5px 0px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: background-color 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95), color 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
  transition: background-color 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95), color 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
}

a.dev-tabCustom:hover {
  background-color: #ed1c24;
  color: #fff !important;
}

.onsale_custom, .home_sale_custom {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff !important;
  background-color: #ed1c24;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.home_sale_custom {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 15px;
}

.devProduct-list .card, .saleNews-list .card {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.devProduct-list .card:hover, .saleNews-list .card:hover {
  -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.devProduct-list .swiper-container, .saleNews-list .swiper-container {
  padding: 15px 0px;
}

.product .col-inner {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 6px;
  overflow: hidden;
  height: 100%;
}

.product .col-inner:hover {
  -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.product .col-inner .box-text-products {
  padding: 20px 15px;
}

.product .col-inner .title-wrapper .category {
  text-transform: none;
  color: #444;
  font-size: 13px;
  color: #ed1c24;
  background-color: rgba(237, 28, 36, 0.2);
  padding: 4px 8px;
  display: inline-block;
}

.product .col-inner .title-wrapper .name.product-title a {
  color: #555;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 10px;
  font-weight: 600;
}

.product .col-inner .title-wrapper .name.product-title a:hover {
  color: #ed1c24;
}

.quick-view.quick-view-added {
  display: none;
}

.tool-action {
  position: absolute;
  top: -30px;
  left: 10px;
}

.tool-action {
  opacity: 0;
  visibility: visible;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tool-action .item a {
  width: 40px;
  height: 40px;
  background-color: #ed1c24;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  font-size: 14px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tool-action .item a:hover {
  -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.devProduct-list .card .tool-action {
  position: absolute;
  top: 170px;
  left: 0px;
}

.product-small:hover .tool-action, .devProduct-list .card:hover .tool-action {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.devSidebar-single-product {
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  border: 1px solid #FEE2E2;
}

.devSidebar-single-product .content {
  padding: 15px;
}

.devSidebar-single-product .dev-title-product2 {
  background-color: #FEE2E2;
  color: #D70018;
  padding: 15px;
}

.devSidebar-single-product .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.devSidebar-single-product .icon {
  margin-right: 15px;
  color: #2ba832;
}

.devSidebar-single-product a {
  color: #555;
}

.devSidebar-single-product a:hover {
  color: #ed1c24;
}

.dev-title-product2 {
  font-size: 18px;
  font-weight: 600;
  padding: 0px 0px 10px;
}

.product-section-title-related {
  text-align: center;
  text-transform: none !important;
  font-size: 20px;
}

.woocommerce-variation-add-to-cart, .product form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.product-section {
  border: none !important;
}

.viewed-title {
  font-size: 20px;
  padding: 20px 0px;
}

.table-tskt tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-tskt tr, .table-tskt td {
  padding: 10px !important;
}

.dev-short-description.show, .table-tskt.show, .tab-panels .woocommerce-Tabs-panel .content.show, .content-tabtskt.show {
  position: relative;
}

.dev-short-description.show:after, .table-tskt.show:after, .tab-panels .woocommerce-Tabs-panel .content.show:after, .content-tabtskt.show:after {
  content: "";
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(30%, rgba(255, 255, 255, 0.9)), color-stop(70%, rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0.6) 70%, rgba(255, 255, 255, 0));
  margin: 0 !important;
  z-index: 2;
}

.short-desc-toggle {
  display: none;
  color: #ed1c24;
  margin-bottom: 15px;
}

.short-desc-toggle.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dev-short-description.show {
  max-height: 150px;
  overflow: hidden;
}

.tab-panels .woocommerce-Tabs-panel .content.show, .content-tabtskt.show {
  max-height: 300px;
  overflow: hidden;
}

.dev-short-description.expand, .tab-panels .woocommerce-Tabs-panel .content.expand, .content-tabtskt.expand {
  max-height: unset;
}

.dev-short-description.expand:after, .tab-panels .woocommerce-Tabs-panel .content.expand:after, .content-tabtskt.expand:after {
  display: none;
}

.saleNews-list .card-title .title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

@media (max-width: 991px) {
  .home-vertical-menu {
    display: none;
  }
  .home-devBanner .gallery-top .swiper-slide {
    height: 300px;
  }
  .home-devBanner .gallery-thumbs .banner-text {
    display: none;
  }
  footer {
    padding-bottom: 60px;
  }
  .page-checkout .left-cart-page {
    margin-bottom: 15px;
  }
  .shop_table .product-remove a {
    top: 50% !important;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .woocommerce-account .vertical-tabs .col-border {
    max-width: 400px;
    margin: auto;
  }
  .my-account .touch-scroll-table {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 575px) {
  #tt-quickView {
    display: none;
  }
  .footer-mb {
    display: block;
  }
  .home-devBanner .gallery-top .swiper-slide {
    height: 150px;
  }
  .blog .box-text {
    padding: 15px;
  }
  .preinfo-section {
    padding: 15px;
  }
  .header-post-custom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-post-customLeft {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .woocommerce-checkout #main, .woocommerce-cart #main {
    background-color: #fff;
  }
  .page-checkout .cart-sidebar, .woocommerce-checkout .has-border-custom,
  .woocommerce-order-received .thankyou-container {
    padding: 0px !important;
  }
  .checkout-header-item.hide-for-small, .checkout-header-item:not(.current) {
    display: none;
  }
  .product-total {
    min-width: 100px;
  }
  .checkout-page-title .checkout-header-item:not(.checkout-header-item.hide-for-small) {
    display: block;
  }
  .review-wrapper.comment-product-style {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-template-tbl-login:not(.logged-in) .content-tab-common form {
    min-width: unset;
  }
  .woocommerce-account .vertical-tabs .col-border {
    margin: 15px;
  }
  .woocommerce-account .dashboard-links li {
    width: 50%;
  }
  .icon-menu {
    color: #fff;
  }
}

.bkg-theme .item {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  min-height: 300px;
  z-index: 99;
}

.bkg-theme .bkg-left {
  left: 10px;
}

.bkg-theme .bkg-right {
  right: 10px;
}

@media (max-width: 991px) {
  .bkg-theme {
    display: none;
  }
}
/*# sourceMappingURL=custom.css.map */