.absolute-footer{
    display: none;
}
.footer-widgets *{
    color: #555 !important;
   
}
.footer-widgets .col-inner ul li{
    margin: 0px;
}
.footer-title{
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
    color: #555 !important;
}